@charset "UTF-8";

/*Cores do site
Marron: #783d28
Amarelo: #c88534
vermelho
vermelho #BA080C
amarelo #D1850F
marron #581105
#FDF0CC
*/

*{
    margin: 0px;
    padding: 0px;
}

body,html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FDF0CC;
}

menu{
    display: block;
    background-color: #c88534;
    
}
span#login{
    color: white;
    padding: 10px;
    display: block;
    text-align: right;
}
header a{
    text-decoration: none;
}

span#burguer{
    background-color: #582d1d;
    color: white;
    text-align: center;
    display: block;
    padding: 10px;
}
span#burguer:hover{
    cursor: pointer;
}
header{
    background-color: #783d28;
   
}
header>h1{
    text-align: center;
    padding: 10px;
    color: white;
    padding-bottom: 30px;
    padding-top: 30px;
   
}
menu > ul> li > a{
    background-color: #703c2a;
    text-align: center;
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-top: 2px solid #000000;
    font-weight: bold;
    
}
menu > ul> li > a:hover{
    background-color: #834a35;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 10px;
    padding-right: 20px;
    line-height: 2em;
    
}
section.texto{
    background-color: #FDF0CC;
    
    
}

section.texto p{
    
    display: inline-block;
    padding: 8px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
}

section.imagem{
    background-color: gray;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
   color: white;
   line-height: 4em;
}
section.imagem>p{
    background-color: #fdf0cc7a;
    display: inline-block;
    padding: 10px;
}
section#img1{
    background-image: url('../imagens/salgadinhoktchup.jpg');
    background-position: center top;
    background-size: cover;
    
    
}

aside{
    padding: 10px;
    border-radius: 10px;
    background-color: #783d28;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin: auto;
    display: block;
    margin: 20px;
   color: white;
   
}
aside h2{
    background-color: #582d1d;
    margin: -36px -10px 35px -10px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    
    

   
}
aside a{
    text-decoration: none;
    color: white;
    line-height: 2em;
}

footer{
    padding: 10px;
    text-align: center;
    background-color: #783d28;
    color: white; 
}

